@model TccAds.Models.Cardapio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cardapio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acompanhamentos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acompanhamentos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
